{{ define "main" }}

<style>
  .link {
    display: inline-block;
    margin: auto;
    margin-top: 30px;
    color: #fff;
    font-size: calc(20px + 2 * ((100vw - 320px) / 680));
    transition: 0.5s;
    background: #38d430;
    text-align: center;
    padding: 10px 20px;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
  }
  .link:hover {
    background: #29373a;
  }
</style>

<section style="padding-top:50px; text-align:center;">
  <div class="learn-header__container" style="min-height:75vh">
    <div class="learn-header__title-wrapper">
      <h1 class="learn-header__title">4<span>0</span>4</h1>
      <p class="learn-header__description" style="margin:auto; padding-top:40px">Page Not Found!</p>
    </div>

    <a class="link" href="{{site.BaseURL | relLangURL}}">Back To Home</a>
  </div>
</section>

{{ end }}