.navigation__menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // height: calc(380% + 25px);
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.8);
  transform: translateY(-100%);
}

.navigation__menu-wrapper-slide-down {
  transition: all 0.4s ease-in-out;
  transform: translateY(0);
}

.navigation__menu-wrapper-slide-up {
  transition: all 0.8s ease-in-out;
  transform: translateY(-100%);
}

.navigation__menu {
  width: 100%;
  height: 26%;
  min-height: 250px;

  .navigation__menu-list {
    display: flex;
    width: 100%;
    height: 100%;

    .navigation__menu-list-item {
      flex-basis: 20%;
      justify-content: center;
      align-items: center;
      height: 100%;
      overflow: hidden;
      transform: translateY(-100%);

      a {
        display: block;
        z-index: 12;
        width: 100%;
        height: 100%;
        color: #fff;
        text-transform: uppercase;
        font-family: "Work sans", sans-serif;
        font-weight: 500;
        letter-spacing: 4px;
        text-align: center;
        font-size: 1.1rem;

        span {
          display: block;
          position: relative;
          top: 44%;
          &:before {
            content: "";
            width: 10%;
            height: 2px;
            background-color: #fff;
            position: absolute;
            top: 10px;
            left: 0;
            z-index: 100;
            transform: translateX(-100%);
            opacity: 0;
            transition: all 0.2s linear;
          }
          &:after {
            content: attr(data-content);
            font-size: 1.2rem;
            transition: all 0.2s linear;
            opacity: 0;
            position: absolute;
            z-index: 100;
            color: #fff;
            display: block;
            margin-right: auto;
            margin-left: auto;
            left: 0;
            right: 0;
            top: 60px;
            text-transform: none;
            font-family: "Open sans", serif;
            font-weight: 300;
            font-style: italic;
            letter-spacing: 0;
          }
        }

        &:hover span:before {
          transform: translateX(0);
          opacity: 1;
        }

        &:hover span:after {
          transform: translateY(15px);
          opacity: 1;
        }

        &:hover ~ .navigation__menu-list-item-icon {
          opacity: 1;
          filter: none;
        }
      }

      &:nth-of-type(1) {
        background-color: $ultraDarkGrey;
      }

      &:nth-of-type(2) {
        background-color: $grey;
      }

      &:nth-of-type(3) {
        background-color: $carbon;
      }

      &:nth-of-type(4) {
        background-color: $greenTwo;
      }

      &:nth-of-type(5) {
        background-color: $ultraDarkGrey;
      }

      &:nth-of-type(6) {
        background-color: $grey;
      }

      &:nth-of-type(7) {
        background-color: $carbon;
      }

      .navigation__menu-list-item-icon {
        position: absolute;
        top: 62%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        transition: 0.5s;
        opacity: 0.2;
        pointer-events: none;
      }
    }
  }
}

.slide-in-nav-item-delay-0 {
  animation: slide-in-nav-item 0.4s linear 1 0.2s both;
}

.slide-in-nav-item-delay-1 {
  animation: slide-in-nav-item 0.4s linear 1 0.4s both;
}

.slide-in-nav-item-delay-2 {
  animation: slide-in-nav-item 0.4s linear 1 0.6s both;
}

.slide-in-nav-item-delay-3 {
  animation: slide-in-nav-item 0.4s linear 1 0.8s both;
}

.slide-in-nav-item-delay-4 {
  animation: slide-in-nav-item 0.4s linear 1 1s both;
}

.slide-in-nav-item-delay-5 {
  animation: slide-in-nav-item 0.4s linear 1 1.2s both;
}

.slide-in-nav-item-delay-6 {
  animation: slide-in-nav-item 0.4s linear 1 1.4s both;
}

.slide-in-nav-item-delay-0-reverse {
  animation: slide-in-nav-item-reverse 0.3s linear 1 0.7s both;
}

.slide-in-nav-item-delay-1-reverse {
  animation: slide-in-nav-item-reverse 0.3s linear 1 0.6s both;
}

.slide-in-nav-item-delay-2-reverse {
  animation: slide-in-nav-item-reverse 0.3s linear 1 0.5s both;
}

.slide-in-nav-item-delay-3-reverse {
  animation: slide-in-nav-item-reverse 0.3s linear 1 0.4s both;
}

.slide-in-nav-item-delay-4-reverse {
  animation: slide-in-nav-item-reverse 0.3s linear 1 0.3s both;
}

.slide-in-nav-item-delay-5-reverse {
  animation: slide-in-nav-item-reverse 0.3s linear 1 0.2s both;
}

.slide-in-nav-item-delay-6-reverse {
  animation: slide-in-nav-item-reverse 0.3s linear 1 0.1s both;
}

@keyframes slide-in-nav-item {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-in-nav-item-reverse {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@media screen and (max-width: 1020px) {
  .navigation__menu-wrapper {
    height: 100vh;
    transform: translateX(-100%);
  }

  .navigation__menu-wrapper-slide-down {
    transform: translateX(0);
  }

  .navigation__menu-wrapper-slide-up {
    transform: translateX(-100%);
  }

  .navigation__menu {
    height: 100%;

    .navigation__menu-list {
      display: block;

      .navigation__menu-list-item {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: flex-start;
        height: calc(12% - 15px);
        transform: translateX(-100%);
        padding-left: 20%;
        background-color: $ultraDarkGrey !important;

        a {
          span {
            width: 100%;
            top: 0;
            font-weight: 300;
            text-align: left;
            font-size: 1.6rem;

            &:before {
              width: 20%;
              left: 100%;
              transform: none;
            }

            &:after {
              top: 25%;
            }
          }

          &:hover span:before {
            transform: translateX(-100%);
          }

          &:hover span:after {
            transform: translateY(25px);
            opacity: 0.5;
          }

          &:hover ~ .navigation__menu-list-item-icon {
            filter: invert(51%) sepia(100%) saturate(400%) hue-rotate(69deg)
              brightness(110%) contrast(91%);
          }
        }

        &:nth-of-type(1) {
          height: calc(20% + 50px);
          padding-top: 125px;
        }

        .navigation__menu-list-item-icon {
          position: relative;
          top: 0;
          left: 0;
          margin-right: 10px;
          transform: none;
        }
      }
    }
  }

  @keyframes slide-in-nav-item {
    from {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }

    to {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  @keyframes slide-in-nav-item-reverse {
    from {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    to {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
}

@media screen and (max-width: 450px) {
  .navigation__menu {
    .navigation__menu-list {
      .navigation__menu-list-item {
        padding-left: 10%;
      }
    }
  }
}
