{{ define "main" }}

{{ with .Params.banner }}
<section>
  <div class="products-header__container">
    <div class="products-header__title-wrapper">
      <h1 class="products-header__title">{{.title | markdownify}}</h1>
      <p class="products-header__description">{{.description | markdownify}}</p>
    </div>

    {{ with .page_content_list }}
    <ul class="products-header__questions-list">
      {{ range . }}
      <li class="products-header__questions-item-wrapper">
        <a href="{{.link}}" class="smooth-scroll">
          {{ partial "image.html" (dict "Src" .icon "Alt" "chess figure icon" "Class" "products-header__questions-item-img" "Resize" false "Size" "80x") }}
          <p class="products-header__questions-item">{{.title | markdownify}}</p>
        </a>
      </li>
      {{ end }}
    </ul>
    {{ end }}

    {{ partial "image.html" (dict "Src" "images/icons/mouse-neon-green.png" "Alt" "mouse icon" "Class" "products-header__mouse-icon mouse-scroll" "Resize" false "Size" "50x") }}
  </div>
</section>
{{ end }}

{{ with .Params.use_cases }}
<section>
  <div id="use-cases" class="use-cases__container">
    <div class="use-cases__wrapper">
      <a href="#{{.title | plainify | urlize}}">
        <h2 class="use-cases__title">{{.title | markdownify}}</h2>
      </a>
      <div class="use-cases__content-wrapper">
        <ul class="use-cases__content-list">
          {{ range .content_list }}
          <li class="use-cases__content-list-item">
            <a class="use-cases__content-list-item-link" href="{{.link | safeURL}}" {{if findRE `^http` .link}}target="_blank" rel="noopener"{{end}}>
              {{ partial "image.html" (dict "Src" "images/logo/dasharo-logo.png" "Alt" "icon" "Class" "quote__content-item-img" "Resize" false "Size" "187x") }}
              <p>{{.title | markdownify}}</p>
            </a>
            <p class="use-cases__content-list-description">{{.description | markdownify}}</p>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
    {{ partial "image.html" (dict "Src" "images/icons/king-chess-carbon.png" "Alt" "king chess icon" "Class" "use-cases__icon" "Resize" false "Size" "100x") }}
  </div>
</section>
{{ end }}

{{ with .Params.data_sheets }}
<section>
  <div id="data-sheets" class="data-sheets__container">
    <div class="data-sheets__wrapper">
      <a href="#data-sheets">
        <h2 class="data-sheets__title">{{.title | markdownify}}</h2>
      </a>
      <div class="data-sheets__content-wrapper">
        <ul class="data-sheets__content-list">
          {{ range .content_list }}
          <li class="data-sheets__content-list-item">
            <a class="data-sheets__content-list-item-link" href="{{.link | safeURL}}" {{if findRE `^http` .link}}target="_blank" rel="noopener"{{end}}>
              {{ partial "image.html" (dict "Src" "images/logo/dasharo-logo.png" "Alt" "icon" "Class" "data-sheets__content-item-img" "Resize" false "Size" "187x") }}
              <p>{{.title | markdownify}}</p>
            </a>
            <div class="data-sheets__content-list-description">{{.description | markdownify}}</div>
          </li>
          {{ end }}
        </ul>
        {{ if .content_in_progress }}
        <p class="data-sheets__content-in-progress">
          Website in progress, more information <span>soon</span>
        </p>
        {{ end }}
      </div>
    </div>
    {{ partial "image.html" (dict "Src" "images/icons/king-chess-white.png" "Alt" "king chess icon" "Class" "data-sheets__icon" "Resize" false "Size" "100x") }}
  </div>
</section>
{{ end }}

{{ end }}